{% extends "base.html" %}

{% block page_title %}{{article.title}}{% endblock %}
{% block head_page%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock head_page %}


{% block content %}
<div class="hero">
    <div class="hero-container">
        <img class="hero-img" src="{{article.article_image}}">
        <div class='hero-title-relative'>
            <h1 class="hero-title"><span>{{article.title}}</span></h1>
        </div>
    </div>
</div>

<div class="main-content">
<div class="container">
    <div class="article-info">
        <p>Written by: <a href="#">{{ article.author }}</a></p>
        <p>{{ article.published_date }}</p>
        </br>
    </div>

    <!-- Database content is inserted underneath here. -->
    {{ article.content|safe }}


    <div class="article-info">
        </br>
        <p>Tags: {{ article.tags }}</p>
    </div>
</div>
</div>
{% endblock content %}

