{% extends "base.html" %}

{% block title %}AutoMagazine{% endblock %}

{% block head_page%}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head_page %}

{% block content %}
<div class="hero-container">
    <div class="hero-wrapper">
        <div class="hero-article main-hero">
            <a href="a/{{ hero_articles.0.url_title }}/">
                <img src="{{ hero_articles.0.article_image }}" alt="">
            </a>
            <div style="position: relative;">
                <h1>
                    <a href="a/{{ hero_articles.0.url_title }}/">
                        {{ hero_articles.0.title }}
                    </a>
                </h1>
                <span class="category-btn category-btn-over">
                    <a href="#">{{ hero_articles.0.category.name }}</a>
                </span>
            </div>
        </div>
        {% for article in hero_articles|slice:"1:" %}
            <div class="hero-article">
                <a href="a/{{ article.url_title }}/">
                    <img src="{{ article.article_image }}" alt="{{ article.title }}">
                </a>
                <div style="position: relative;">
                    <h1>
                        <a href="a/{{ article.url_title }}/">
                            {{ article.title }}
                        </a>
                    </h1>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="flex-center">
    <div style="width: 75%">
        <div class="article-section">
            <h2>LATEST STORIES</h2>
            {% for article in articles %}
                <div class="article-wrapper">
                    <a href="a/{{ article.url_title }}/">
                        <img src="{{ article.article_image }}" alt="{{ article.title }}">
                    </a>
                    <div class="article-content">
                        <h3>
                            <a href="a/{{ article.url_title }}/">
                            {{ article.title }}
                            </a>
                        </h3>
                        <p>Lorem ipsum article to read</p>
                    </div>
                </div>
            
            {% endfor %}
        </div>
        <div>
            <h2>TRENDING</h2>
            <div class="card-section">
                {% for article in articles %}
                    <div class="article-card">
                        <a href="a/{{ article.url_title }}/">
                            <img src="{{ article.article_image }}" alt="{{ article.title }}">
                        </a>
                        <span class="category-btn">
                            <a href="#">{{ article.category.name }}</a>
                        </span>
                        <div class="article-content">
                            <h3>
                                <a href="a/{{ article.url_title }}/">
                                {{ article.title }}
                                </a>
                            </h3>
                            <p>Lorem ipsum article to read</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
