
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

p {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.4px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.6rem;
}

h2, h3, h4, h5, h6 {
    color: #222222;
}

small {
    font-family: 'Archivo Narrow', sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 1.25rem;
}

.navbar a {
    font-family: 'Archivo Narrow', sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: none;
    color: black;
}

.navbar-logo {
    width: 14rem;
}

.search-window {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(244, 244, 244);
    z-index: 1;
    overflow-x: hidden;
    padding: 2rem;
}
input:focus {
    outline-width: 0;
}

.search-window input {
    background-color: transparent;
    border: none;
    font-size: 4rem;
    margin: 1rem;
    padding-left: 3rem;
    color: #989898;
    font-weight: 800;
}

.search-window .category-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 2em;
    margin-left: 5em;
    max-height: 40%;
}
.category-wrapper a {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3rem;
    width: 3.2rem;

    color: black;
    text-decoration: none;
    transition: all 0.125s;
}

.window-hidden {
    display: none !important;
    visibility: hidden !important;
}

@media (min-width: 1000px) {
    .search-window input {
        font-size: 9rem;
        font-weight: 500;
    }
}

/* Small screens */
@media screen and (max-width: 768px) {
    .navbar-logo {
        width: 10rem;
    }
    .search-window {
        padding: 0.5rem;
    }
    .search-window input {
        font-size: 3rem;
        font-weight: 900;
    }
    .search-window .category-wrapper {
        max-height: 100%;
    }
}